<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vote.dao.PvcountMapper" >
  <resultMap id="BaseResultMap" type="com.vote.pojo.Pvcount" >
    <id column="pvcount_id" property="pvcountId" jdbcType="INTEGER" />
    <result column="pvcount_count" property="pvcountCount" jdbcType="INTEGER" />
    <result column="daily_last_date" property="dailyLastDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pvcount_id, pvcount_count, daily_last_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vote.pojo.PvcountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pvcount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pvcount
    where pvcount_id = #{pvcountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pvcount
    where pvcount_id = #{pvcountId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vote.pojo.PvcountExample" >
    delete from pvcount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vote.pojo.Pvcount" >
    insert into pvcount (pvcount_id, pvcount_count, daily_last_date
      )
    values (#{pvcountId,jdbcType=INTEGER}, #{pvcountCount,jdbcType=INTEGER}, #{dailyLastDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vote.pojo.Pvcount" >
    insert into pvcount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pvcountId != null" >
        pvcount_id,
      </if>
      <if test="pvcountCount != null" >
        pvcount_count,
      </if>
      <if test="dailyLastDate != null" >
        daily_last_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pvcountId != null" >
        #{pvcountId,jdbcType=INTEGER},
      </if>
      <if test="pvcountCount != null" >
        #{pvcountCount,jdbcType=INTEGER},
      </if>
      <if test="dailyLastDate != null" >
        #{dailyLastDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vote.pojo.PvcountExample" resultType="java.lang.Integer" >
    select count(*) from pvcount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pvcount
    <set >
      <if test="record.pvcountId != null" >
        pvcount_id = #{record.pvcountId,jdbcType=INTEGER},
      </if>
      <if test="record.pvcountCount != null" >
        pvcount_count = #{record.pvcountCount,jdbcType=INTEGER},
      </if>
      <if test="record.dailyLastDate != null" >
        daily_last_date = #{record.dailyLastDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pvcount
    set pvcount_id = #{record.pvcountId,jdbcType=INTEGER},
      pvcount_count = #{record.pvcountCount,jdbcType=INTEGER},
      daily_last_date = #{record.dailyLastDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vote.pojo.Pvcount" >
    update pvcount
    <set >
      <if test="pvcountCount != null" >
        pvcount_count = #{pvcountCount,jdbcType=INTEGER},
      </if>
      <if test="dailyLastDate != null" >
        daily_last_date = #{dailyLastDate,jdbcType=DATE},
      </if>
    </set>
    where pvcount_id = #{pvcountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vote.pojo.Pvcount" >
    update pvcount
    set pvcount_count = #{pvcountCount,jdbcType=INTEGER},
      daily_last_date = #{dailyLastDate,jdbcType=DATE}
    where pvcount_id = #{pvcountId,jdbcType=INTEGER}
  </update>
</mapper>